* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#content {
  display: flex;
  height: 100%;
  justify-content: space-around;
  margin-right: 100px;
}
html,
body {
  height: 100%;
}
.text {
  border: 1px solid blue;
  flex-grow: 1;
  overflow: auto;
  white-space: normal;
  height: 100%;
}
.circle {
  position: relative;
  border: 1px solid yellow;
  flex-shrink: 0;
}
@media (max-width<500px) {
  .circle {
    width: 100px;
    height: 100px;
  }
}
